.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color:blue;
    size: 25px;
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
figure img{
    height:35rem;
    width: 35rem;
}